﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Estacionamiento USAM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Empleado", "Index", "empleado")</li>
            <li>@Html.ActionLink("Persona Especial", "Index", "especialp")</li>
            <li>@Html.ActionLink("Estacionamiento", "Index", "estacionamiento")</li>
            <li>@Html.ActionLink("Tarifa", "Index", "tarifas")</li>
            <li>@Html.ActionLink("Ticket", "Index", "tickets")</li>
            <li>@Html.ActionLink("Vehiculo", "Index", "vehiculo")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
