﻿@using estacionamientoUSAM.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<br /><br /><br /><br /><br />
<link href="~/resources/login.css" rel="stylesheet" type="text/css">
<div class="login-box">
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="user-box">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <label>Correo</label>
        </div>
        <div class="user-box">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <label>Contraseña</label>
        </div>
        <a href="">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Iniciar sesión" class="btn btn-info" />
        </a>

        <a href="@Url.Content("~/Account/Register")">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Registro
        </a>
    }

    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
<br /><br /><br /><br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}