﻿@model estacionamientoUSAM.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<h2>@ViewBag.Title.</h2>

<link href="~/resources/login.css" rel="stylesheet" type="text/css">

<div class="login-box">
    <h2>Registro</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="user-box">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <label>Correo</label>
        </div>
        <div class="user-box">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <label>Contraseña</label>
        </div>
        <div class="user-box">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <label>Re-Contraseña</label>
        </div>
        <a href="">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Register" class="btn btn-info" />
        </a>

        <a href="@Url.Content("~/Account/Login")">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </a>
    }
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
