﻿@model estacionamientoUSAM.Datos.estacionamiento

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Estacionamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ubicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locacion)
        </dd>

        <dt>
            Cantidad A
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadA)
        </dd>

        <dt>
            Cantidad M
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
