﻿@model estacionamientoUSAM.Datos.estacionamiento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Estacionamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ubicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locacion)
        </dd>

        <dt>
            Cantidad de autos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadA)
        </dd>

        <dt>
            Cantidad de motos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idestacionamiento }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
