﻿@model IEnumerable<estacionamientoUSAM.Datos.estacionamiento>

@{
    ViewBag.Title = "Index";
}

<h2>Estacionamientos</h2>

<p class="btn btn-default">
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<br />
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>
            Ubicación
        </th>
        <th>
            Cantidad de autos
        </th>
        <th>
            Cantidad de motos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.locacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadM)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idestacionamiento }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.idestacionamiento }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idestacionamiento })
            </td>
        </tr>
    }

</table>
