﻿@model IEnumerable<estacionamientoUSAM.Datos.empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

<p class="btn btn-default">
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<br />
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>
            DUI
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Cargo
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idempleado }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.idempleado }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idempleado })
            </td>
        </tr>
    }

</table>
