﻿@model estacionamientoUSAM.Datos.vehiculo

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Vehículo</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idplaca)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            Tipo de vehículo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipovehiculo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idplaca }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
