﻿@model estacionamientoUSAM.Datos.tarifa

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>tarifa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioxhr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioxhr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtarifa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
