﻿@model IEnumerable<estacionamientoUSAM.Datos.tarifa>

@{
    ViewBag.Title = "Index";
}

<h2>Tarifa</h2>

<p>
    @Html.ActionLink("Agregar Nueva tarifa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tarifa")
        </th>
        <th>
            @Html.DisplayName("Precio por Hora")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioxhr)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idtarifa }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idtarifa }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idtarifa })
        </td>
    </tr>
}

</table>
